# RabbitMQ
AMQP_URL=amqp://guest:guest@localhost:5672/
RABBIT_MQ_PREFETCH=5

# HTTP Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Mailer / SMTP
MAILER_HOST=smtp.example.com
MAILER_PORT=587
MAILER_USERNAME=your_username
MAILER_PASSWORD=your_password

# Database
DATABASE_URL=database.sqlite3
